# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# docker
docker/compose/**/storage/postgres/
docker/compose/**/storage/ipfs/
docker/compose/**/storage/vault/file/
